In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas import json_normalize
import ast

In [53]:
movies_df = pd.read_csv("movies_dataset.csv")

C:\Users\Ing. Nicolas Yapur\AppData\Local\Temp\ipykernel_30724\479853870.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df = pd.read_csv("movies_dataset.csv")

In [54]:
# Step 6, drop unnecesary columns
movies_df.drop(['video','imdb_id','adult','original_title','homepage','poster_path'],axis=1,inplace=True)

In [55]:
# Dropping possible duplicates
movies_df = movies_df.drop_duplicates(keep="first")

In [56]:
movies_df.shape

(45453, 18)

In [57]:
# The id column reffers to the movie id, taking that asumption we are going to name it Movie_id from now on
movies_df.rename(columns={"id":"Movie_id"},inplace=True)

In [58]:
movies_df.head()

,belongs_to_collection,budget,genres,Movie_id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0

In [59]:
movies_df[["revenue",'budget']].isna().sum()

revenue    6
budget     0
dtype: int64

In [60]:
# Step 2 fill revenue and budget NaN with 0

In [61]:
movies_df['revenue'].fillna(0,inplace=True)
movies_df['budget'].fillna(0,inplace=True)

In [62]:
movies_df[["revenue",'budget']].isna().sum()

revenue    0
budget     0
dtype: int64

In [63]:
# step 3 drop rows with NaN of release_date column

In [64]:
movies_df["release_date"].info()

<class 'pandas.core.series.Series'>
Index: 45453 entries, 0 to 45465
Series name: release_date
Non-Null Count  Dtype
--------------  -----
45366 non-null  object
dtypes: object(1)
memory usage: 710.2+ KB

In [65]:
movies_df.dropna(subset=["release_date"],axis=0,inplace=True)

In [66]:
movies_df["release_date"].info()

<class 'pandas.core.series.Series'>
Index: 45366 entries, 0 to 45465
Series name: release_date
Non-Null Count  Dtype
--------------  -----
45366 non-null  object
dtypes: object(1)
memory usage: 708.8+ KB

In [67]:
# step 4 transform release_date into datetime format ans create release year columns

In [68]:
movies_df.dtypes

belongs_to_collection     object
budget                    object
genres                    object
Movie_id                  object
original_language         object
overview                  object
popularity                object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
vote_average             float64
vote_count               float64
dtype: object

In [69]:
# Convert the 'budget' column to numeric, coercing errors to NaN and modifying dtypes
movies_df['budget'] = pd.to_numeric(movies_df['budget'], errors='coerce')
movies_df['popularity'] = pd.to_numeric(movies_df['budget'], errors='coerce')
movies_df['vote_average'] = pd.to_numeric(movies_df['budget'], errors='coerce')
movies_df['vote_count'] = pd.to_numeric(movies_df['budget'], errors='coerce')
movies_df["release_date"] = pd.to_datetime(movies_df["release_date"],format="%Y-%m-%d",errors='coerce')

In [70]:
movies_df.dtypes

belongs_to_collection            object
budget                          float64
genres                           object
Movie_id                         object
original_language                object
overview                         object
popularity                      float64
production_companies             object
production_countries             object
release_date             datetime64[ns]
revenue                         float64
runtime                         float64
spoken_languages                 object
status                           object
tagline                          object
title                            object
vote_average                    float64
vote_count                      float64
dtype: object

In [71]:
# looking for NaT values
movies_df["release_date"].info()

<class 'pandas.core.series.Series'>
Index: 45366 entries, 0 to 45465
Series name: release_date
Non-Null Count  Dtype
--------------  -----
45363 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 708.8 KB

In [72]:
# dropping Nat Values
movies_df.dropna(subset=["release_date"],axis=0,inplace=True)
movies_df["release_date"].info()

<class 'pandas.core.series.Series'>
Index: 45363 entries, 0 to 45465
Series name: release_date
Non-Null Count  Dtype
--------------  -----
45363 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 708.8 KB

In [73]:
#creating release_year column

In [74]:
movies_df = movies_df.assign(release_year =movies_df["release_date"].dt.year)
movies_df["release_year"]

0        1995
1        1995
2        1995
3        1995
4        1995
         ...
45460    1991
45462    2011
45463    2003
45464    1917
45465    2017
Name: release_year, Length: 45363, dtype: int32

In [75]:
# step 5 create return column = revenue/budget

In [76]:
movies_df["return"] =  movies_df["revenue"]/movies_df["budget"]
movies_df.head()

,belongs_to_collection,budget,genres,Movie_id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",30000000.0,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,30000000.0,30000000.0,1995,12.451801
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,65000000.0,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,65000000.0,65000000.0,1995,4.043035
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,0.0,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,0.0,0.0,1995,NaN
3,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",16000000.0,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,16000000.0,16000000.0,1995,5.090760
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,0.0,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,0.0,0.0,1995,inf

In [77]:
# filling NaN with 0
movies_df["return"].fillna(0,inplace=True)

In [78]:
movies_df["return"].info()

<class 'pandas.core.series.Series'>
Index: 45363 entries, 0 to 45465
Series name: return
Non-Null Count  Dtype
--------------  -----
45363 non-null  float64
dtypes: float64(1)
memory usage: 708.8 KB

In [79]:
# chequing for inf values
movies_df["return"].mean()

inf

In [86]:
# Identify rows with "inf" values in the "return" column
rows_with_inf = movies_df[movies_df['return'] == np.inf]

# Set values of "return" column in rows with "inf" to 0
df_transformed = movies_df.copy()
df_transformed.loc[rows_with_inf.index, 'return'] = 0
movies_df = df_transformed

In [87]:
movies_df["return"].mean()

660.2319368113208

In [88]:
movies_df.shape

(45363, 20)

In [89]:
# Dropping duplicates, just in case
movies_df = movies_df.drop_duplicates(keep="first")

In [90]:
movies_df.shape

(45346, 20)

In [91]:
# Transforming to csv named 'ETL_movies_main.csv'

In [92]:
movies_df.to_csv("ETL_movies_main.csv", index= False)